body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;  
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    border-bottom: 1px solid var(--border-header-color);
}

/*  */
/* Колір основного тексту #212121*/
/* Другорядний колір тексту #757575*/
/* Основний колір фону #FFFFFF*/
/* Другорядний колір фону #2F303A*/
/* Акцент #2196F3* / 
/*  */

:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000;
    --secondary-logo-color: #fff;
    --secondary-background-color:#2F303A;
    --team-background-color: #F5F4FA;
    --address-color: #FFFFFF;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --hat-text-color: #FFFFFF;
    --accent-background-color:#188CE8;
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --card-set-gap: 30px;
    --hat-background-color: #C4C4C4;
    --cust-border-color: #AFB1B8;
    --social-background-color: rgba(255, 255, 255, 0.1);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* outline: 2px solid tomato; */
}

/* HEADER-ЗАГОЛОВОК */
/* Флекс для всього футера */
.ln {
    display: flex;
    align-items: center;
}

/* ЛОГОТИП */

.logo{
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none
}
.black {
    color: var(--logo-color);
}

/* НАВІГАЦІЯ */
/* Флекс для навігації */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .nav-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    
}
.site-nav .link.current,
.contacts .link.current,
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: relative;
    bottom: -33px;
    display: block;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--accent-color);   
}


/* КОНТАКТИ */
/* Флекс на контакти */
.contacts {
    display: flex;
    margin-left: auto;
    /* align-items: center; */
}
.contacts .c-item + .c-item {
    margin-left: 50px;
}

.contacts .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures {
    display: flex;
    align-items: center;
}

.pictures-icon {
    margin-right: 10px;

    fill: currentColor;
}


/* MAIN */
/* ШАПКА */

.hat {
    
    max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/team.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    
    text-align: center; 

    background-color: var(--hat-background-color);
}
.hat-title {
    
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    

    color: var(--hat-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.hat-text {
    
    padding: 10px 32px;
    min-width: 216px;
    border: none;
    border-radius: 4px;

    color: var(--hat-text-color);
    background-color: var(--accent-color);
      
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hat-text:hover,
.hat-text:focus {
    background-color: var(--accent-background-color);
} 
/* Особливості */
.visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
.trait {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Флекс Особливості */
.features {
    display: flex;
}

.item {
    width: calc((100% - 3 * 30px) / 4);
}

.features .item+.item {
    margin-left: 30px;
}
.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;

    background-color: var(--team-background-color);     
}

.i-item+.i-item {
    margin-left: 30px;
}

.i-item {
    width: calc((100% - 3 * 30px) / 4);
}
.features-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
}

/* Чим ми займаємось */
/* Флекс */
.we-do {
    padding-bottom: 94px;
}
.work {
    display: flex;
}

.work>.item {
    width: calc((100% - 2 * 30px) / 3);
}

.work .item+.item {
    margin-left: 30px;
}

.work-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
    width: 370px;
    height: 70px;  

    color: var(--hat-text-color);
    background-color: rgba(47, 48, 58, 0.8);

    position: absolute;
    bottom: 0;
}
.work-thumb {
    position: relative;
}

.paragraf {
    margin: 0;
}

.title, .title-do {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Команда */
/* Флекс */
.team {
    display: flex;
   
}

.team .team-item+.team-item {
    margin-left: 30px;  
}
.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--team-background-color);
}

.team-title {
    margin-top: 0;
    margin-bottom: 10px;
    

    background-color: var(--hat-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    
}
.team-text {
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--text-color);
    background-color: var(--hat-text-color);

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;  
}

.bottom-line {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    background-color: var(--hat-text-color);

    
    border-radius: 0px 0px 4px 4px;   
}
/* Соціальні мережі */

.s-box {
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 44px;
    height: 44px;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    fill: var(--cust-border-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-box:hover,
.s-box:focus {
    background-color:  var(--accent-color);
    fill: var(--hat-text-color);
}
.s-icon:hover {
    fill: var(--hat-text-color);
}

.t-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.t-link .s-box+.s-box {
    margin-left: 10px;
}

/* Постійні клієнти */
.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client {
    display: flex;
    align-items: center;
}

.client .cust-item+.cust-item {
    margin-left: 30px;    
}

.cust-item {
    width: calc((100% - 5 * 30px) / 6);
    
}


.cust {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;           
    height: 92px;

    border: 1px solid var(--cust-border-color);
    fill: var(--cust-border-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust:hover,
.cust:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
    
}

.cust-title {
    margin-top: 0;
    margin-bottom: 50px;


    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ПОРТФОЛІО */
/* Кнопки */
/* Флекс */

.filters {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
}

.btn {
    width: calc((100% - 4 * 8px) / 5);

    color: var(--primary-text-color);
    background: var(--team-background-color);
    
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .filter-item+.filter-item {
    margin-left: 8px;
}

.all {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    border: none;
}

.web {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 125px;
    border: none;
}

.app {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 112px;
    border: none;
}

.design {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 103px;
    border: none;
}

.mark {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 130px;
    border: none;
}

.btn:hover,
.btn:focus {
    color: var(--hat-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Розділи */
/* Флекс-сітка */
.port {
    padding-top: 94px;
    padding-bottom: 94px;
}
.project {
    gap: var(--card-set-gap);
    display: flex;
    flex-wrap: wrap;
      
}

.pr-item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);       
}

.card-conten {
    padding: 20px 24px;
    background: var(--hat-text-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.project-link {
    display: block;
    color: var(--primary-text-color);

    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;   
}
/* Оверлей */
.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-thumb::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb:hover::before {
    transform: translateY(0);
    opacity: 1;
}

.card-thumb:hover .overlay-text {
    display: block;
}

.overlay-text {

    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;
    
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;      
           
    color: var(--hat-text-color);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.overlay-text:hover {
    opacity: 1;
}
    

/* ПІДВАЛ */

.bg {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.bg-logo {
    display: block;
    margin-bottom: 20px;
    padding: 0;

    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none
}

.white {
    color: var(--secondary-logo-color);
}

.bg-title {
    margin: 0;
    padding: 0;

    color: var(--address-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.bg-link {

    color: var(--contacts-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-link:hover,
.bg-link:focus {
    color: var(--accent-color);
}


.social-text {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hat-text-color);
}

.join {
    display: flex;
    align-items: center;
}

.join>.join-item+.join-item {
    margin-left: 10px;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--social-background-color);

    width: 44px;
    height: 44px;
    border-radius: 50%;  

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}

.con {
    display: flex;
    flex-direction: column;
}

.con-item {
    padding: 0;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
}

.address-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.address-item {
    margin-right: 70px;

}

.social {
    margin-right: 93px;
}

/* Підписатися */
.mail-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;

    color: var(--hat-text-color);
}

.form-mail input {

    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    min-width: 358px;
    margin-right: 12px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--hat-text-color);
    background-color: var(--secondary-background-color);
}

.form-mail input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    margin: 0;

    color: var(--contacts-color);
}

.sign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    min-width: 200px;


    border-radius: 4px;
    border: none;
    cursor: pointer;

    color: var(--hat-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sign-up {
    display: flex;
}

/* Модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    

    width: 528px;
    height: 581px;

    background-color: var(--hat-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* Розмітка модального вікна */
.modal-title {

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 40px;
    margin: 0;
    margin-bottom: 12px;
}

.close {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    padding: 6px;
    border-radius: 50%;
    
    background-color: var(--hat-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    fill: var(--accent-color);
}

.form {
    width: 528px;
   
    padding-left: 40px;
    padding-right: 40px;
    
}

.form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding-top: 10px;
    padding-left: 42px;
    padding-bottom: 10px;
    margin-top: 4px;
    cursor: pointer;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border: 1px solid var(--accent-color);
    
}


.form-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
        
    color: var(--text-color);   
}

.form-icon {
    position: absolute;
    top: 10px;
    left: 12px;
    transform: translateY(100%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
    fill: var(--accent-color);
}
.form-input:hover +.form-icon {
    fill: var(--accent-color);
}

.form-textarea {
    position: relative;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    font-family: Roboto, sans-serif;
    padding: 12px 16px;
    margin-top: 4px;
    cursor: pointer;
    display: block;

    width: 100%;
    min-height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
    border: 1px solid var(--accent-color);
}

.form-textarea textarea::placeholder {

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

/* Розмітка чекбоксу */
.check {
    position: relative;
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 30px;
    
   
    width: 425px;
    
}

.checkbox-label {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    cursor: pointer;
    
    color: var(--text-color);
}

.checkbox {
    appearance: none;
    position: absolute;
    
}

.checkbox-icon {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(25%);

    display: flex;
    justify-content: center;
    width: 16px;
    height: 15px;
    
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.checkbox:checked + .checkbox-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}


.text-decor {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-color);
}

/* Кнопка-відправити */
.send {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(164px, -40px);
  

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    padding: 10px 52px;
    margin: 0;
    
    
    color: var(--hat-text-color);
    background: var(--accent-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}